/* 正文字体 */
@font-face {
  font-family: 'Roboto Variable';
  src: url('/fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2-variations');
  font-weight: 100 700;
  font-style: normal italic;
  font-display: swap;
}

/* 代码字体 */

@font-face {
  font-family: 'RobotoMonoNerdFont Regular';
  src: url('/fonts/RobotoMonoNerdFont-Regular.woff2') format('woff2-variations');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 全局字体 */
:root {
  --vp-font-family-base: 'Roboto Variable', sans-serif;
  --vp-font-family-mono: 'RobotoMonoNerdFont Regular', monospace;
}